
.body {
  text-align: center;
}

.final-chord {
  display: inline-block;
  background-color: rgb(18, 31, 70);
  color: white;
  padding: 5px;
  font-size: x-large;
}

.string-grid {
  display: grid;
  grid-template-columns: 1fr;
}